
$keycolor1: #a4e5ed;
$keycolor2: #29c1e3;
$keycolor3: #0c8bcf;
$keycolor4: #2381cf;
$keycolor5: #dbffff;

@mixin wrapper{
    margin: 0 5vw 0 5vw;
}

@mixin border_gradation( $color1 , $color2 ){
    border-bottom:  3px solid;
    border-image: linear-gradient( to right, $color1 0% , $color2 100%);
    border-image-slice: 1;
}
@mixin no_margin(){
    margin:0;
    padding:0;
}

body{
    header{
        height:     100px;
        width:      100%;
        @include no_margin();
        position:   relative;
        h1{
            padding:    10px 0 0 5vw;
            font-size:  50px;
            text-shadow: 
                2px  2px 1px $keycolor5,
                -2px  2px 1px $keycolor5,
                2px -2px 1px $keycolor5,
                -2px -2px 1px $keycolor5,
                2px  0px 1px $keycolor5,
                0px  2px 1px $keycolor5,
                -2px  0px 1px $keycolor5,
                0px -2px 1px black; ;
            background: linear-gradient(
                to bottom ,
                white 5%,
                $keycolor1 30%,
                $keycolor2 70%,
                $keycolor3 90%,
                $keycolor4
            );
        }
        nav{    
            @include no_margin();
            width:      100vw;
            background-color: #1cf9fc;
            position:   absolute;
            top:    85px;
            ul{
                padding:    10px 0 10px;
                margin:     0;
                display:    flex;
                justify-content: space-around;
                list-style: none;
                li{
                    width:          50vw;
                    text-align:     center;
                    font-size:      20px;
                    font-weight:    bold;
                    border-right:   solid 2px $keycolor5;
                    border-left:   solid 2px $keycolor5;
                }
            }
        }
        
    }

    #main{
        @include wrapper();
        margin-top: 100px;
        position:   absolute;
        top:    80px;
        h2{
            margin-bottom:  30px;
            padding-left:   20px;
            @include border_gradation($keycolor1, $keycolor4);
        }
        .TodoList{
            margin-top: 20px;
            ul{
                list-style: none;
                margin-top: 10px;
                li{
                    margin-bottom: 10px;
                    button{
                        margin-left: 30px;
                    }
                }
            }
        }
        .todoForm{
            .subId{
                width: 40px;
            }
        }
        .Log{
            table{
                width:80vw;
                td,th{
                    border: solid 1px gray;
                }
                td{
                    padding-left: 10px;
                }
            }

        }
    }
    
}